<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>

<p>Programa: {{programa.nombre}}</p>
<p>Lista de Capitulos</p>
<a href="{%url 'controlPresupuestal:ListViewProgramas'%}">Regresar</a>
<table>
	<thead>
		<th><p align="center">Codigo</p></th>
		<th><p align="center">Nombre</p></th>
		<th><p align="center">Monto anual</p></th>
		<th><p align="center">Acciones</p></th>
	</thead>
{%for capitulo in capitulos%}
	<tr>
		<td>{{capitulo.codigo}}</td>
		<td>{{capitulo.nombre}}</td>
		<td></td>
		<td><a href="{%url 'controlPresupuestal:ListViewPartidas' capitulo.pk%}">Ver partidas</a></td>
	</tr>
{%empty%}
	<tr>
		<td colspan="12"><p align="center">Lista de programas vacia</p></td>
	</tr>
</table>
{%endfor%}