{% load humanize %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>


<p>Capitulo: {{capitulo.nombre}}</p>
<p>Lista de partidas</p>
<a href="{%url 'controlPresupuestal:CreateViewPartida' capitulo.pk%}">Crear Partida</a>
<a href="{%url 'controlPresupuestal:ListViewCapitulos' programa.pk%}">Regresar</a>
<table>
	<thead>
		<th><p align="center">Código</p></th>
		<th><p align="center">Descripción</p></th>
		<th><p align="center">Monto anual autorizado</p></th>
		<th><p align="center">Monto anual ampliación</p></th>
		<th><p align="center">Monto anual reducción</p></th>
		<th><p align="center">Monto anual modificado</p></th>
		<th><p align="center">Monto anual ejercido</p></th>
		<th><p align="center">Monto anual por ejercer</p></th>
		<th colspan="3"><p align="center">Acciones</p></th>
	</thead>
{%for partida in partidas%}
	<tr>
		<td>{{partida.codigo}}</td>
		<td>{{partida.descripcion}}</td>
		<td>{% if partida.MontoAnualAutorizado is None%}
				{%if partida.monto_anual_autorizado is None%}
					Por definir
				{%else%}
					$ {{partida.monto_anual_autorizado|intcomma}}
				{%endif%}
			{%endif%}
		</td>
		<td>{% if partida.MontoAnualAmpliacion is None%}
				{%if partida.monto_anual_ampliacion is None%}
					Por definir
				{%else%}
					$ {{partida.monto_anual_ampliacion|intcomma}}
				{%endif%}
			{%endif%}
		</td>
		<td>{% if partida.MontoAnualReduccion is None%}
				{%if partida.monto_anual_reduccion is None%}
					Por definir
				{%else%}
					$ {{partida.monto_anual_reduccion|intcomma}}
				{%endif%}
			{%endif%}
		</td>
		<td>{% if partida.MontoAnualModificado is None%}
				{%if partida.monto_anual_modificado is None%}
					Por definir
				{%else%}
					$ {{partida.monto_anual_modificado|intcomma}}
				{%endif%}
			{%endif%}
		</td>
		<td>{% if partida.MontoAnualEjercido is None%}
				{%if partida.monto_anual_ejercido is None%}
					Por definir
				{%else%}
					$ {{partida.monto_anual_ejercido|intcomma}}
				{%endif%}
			{%endif%}
		</td>
		<td>{% if partida.MontoAnualPorEjercer is None%}
				{%if partida.monto_anual_por_ejercer is None%}
					Por definir
				{%else%}
					$ {{partida.monto_anual_por_ejercer|intcomma}}
				{%endif%}
			{%endif%}
		</td>
		<td><a href="{%url 'controlPresupuestal:ListViewMeses' partida.pk%}">Ver por meses</a></td>
		<td><a href="{%url 'controlPresupuestal:UpdateViewPartida' partida.pk%}">Editar</a></td>
		<td><a href="{%url 'controlPresupuestal:DeleteViewPartida' partida.pk%}">Eliminar</a></td>
	</tr>
{%empty%}
	<tr>
		<td colspan="12"><p align="center">Lista de partidas vacia</p></td>
	</tr>

{%endfor%}

	<tr>
		<td colspan="2">Total</td>
		<td>{{total_monto_anual_autorizado}}</td>
		<td>{{total_monto_anual_ampliacion}}</td>
		<td>{{total_monto_anual_reduccion}}</td>
		<td>{{total_monto_anual_modificado}}</td>
		<td>{{total_monto_anual_ejercido}}</td>
		<td>{{total_monto_anual_por_ejercer}}</td>
	</tr>
</table>