<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
<h1>Lista de partidas del programa {{programa.nombre}}</h1>
<a href="{%url 'controlPresupuestal:CreateListViewPartida' programa.pk%}">Crear partida</a>
<table>
	<thead>
		<th><p align="center">Codigo</p></th>
		<th><p align="center">Capitulo</p></th>
		<th><p align="center">Descripción</p></th>
		<th><p align="center">Enero</p></th>
		<th><p align="center">Febrero</p></th>
		<th><p align="center">Marzo</p></th>
		<th><p align="center">Abril</p></th>
		<th><p align="center">Mayo</p></th>
		<th><p align="center">Junio</p></th>
		<th><p align="center">Julio</p></th>
		<th><p align="center">Agosto</p></th>
		<th><p align="center">Septiembre</p></th>
		<th><p align="center">Octubre</p></th>
		<th><p align="center">Noviembre</p></th>
		<th><p align="center">Diciembre</p></th>
		<th><p align="center">Total</p></th>
	</thead>
{%for partida in partidas%}

	<tr>
		<td>{{partida.codigo}}</td>
		<td>{{partida.capitulo}}</td>
		<td>{{partida.descripcion}}</td>
		<td>{{partida.monto_enero_autorizado}}</td>
		<td>{{partida.monto_febrero_autorizado}}</td>
		<td>{{partida.monto_marzo_autorizado}}</td>
		<td>{{partida.monto_abril_autorizado}}</td>
		<td>{{partida.monto_mayo_autorizado}}</td>
		<td>{{partida.monto_junio_autorizado}}</td>
		<td>{{partida.monto_julio_autorizado}}</td>
		<td>{{partida.monto_agosto_autorizado}}</td>
		<td>{{partida.monto_septiembre_autorizado}}</td>
		<td>{{partida.monto_octubre_autorizado}}</td>
		<td>{{partida.monto_noviembre_autorizado}}</td>
		<td>{{partida.monto_diciembre_autorizado}}</td>
		<td>{{partida.monto_anual_autorizado}}</td>
	</tr>
{%empty%}

		<tr>
		<td colspan="14"><p>Lista de programas vacia</p></td>
		</tr>
			</table>
{%endfor%}


